body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-column, .right-column {
    flex: 0 0 auto;
    max-width: 100px; /* Ancho de las columnas */
  
    overflow: hidden;
    border: 1px solid #ccc; /* Borde en las columnas */
}
.left-column img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}
.right-column img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}
.left-column {
    background-color: #f0f0f0;
    border-right: none; /* Quita el borde derecho en la columna izquierda */
}

.right-column {
    background-color: #f0f0f0;
    border-left: none; /* Quita el borde izquierdo en la columna derecha */
}

.content {
    flex: 1;
    text-align: center;
}

.content img {
    max-width: 300px;
    
    margin: 10px;
}
.rel {
    margin-top: 20px;
}
.rel img{
    max-width: 100px;
    max-height: 100px;
}